.backed-by {
  padding: 120px 0 125px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    top: 100%;
    left: 10%;
    background: rgba(199, 199, 199, 0.37);
  }

  &__title {
    max-width: 100%;
    text-align: center;
  }
}