.advantages {
  padding: 120px 0 110px;

  &__right-side {
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantage {
    max-width: 280px;
    font-weight: 700;
    padding: 0 10px;

    &__stats {
      font-family: 'Roboto', sans-serif;
      font-size: 60px;
      line-height: 78px;
      color: #f0a346;
    }

    &__desc {
      font-size: 13px;
      line-height: 22px;
    }
  }

  @include media-md{
    &__left-side {
      order: 2;
    }

    &__right-side {
      margin-bottom: 20px;
      order: 1;

      img {
        width: 50%;
      }
    }

    &__list {
      justify-content: center;
    }
  }

  @include media-xs{
    padding: 60px 0;

    &__right-side {
      img {
        width: 60%;
      }
    }
  }
}
